@model ErrorViewModel
@{
    ViewData["Title"] = "İşlem tamamlanamadı";
}

<h1 class="text-danger">İşlem tamamlanamadı.</h1>
<h2 class="text-danger">Beklenmeyen bir hata oluştu. Lütfen daha sonra tekrar deneyin.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>İşlem Kodu:</strong> <code>@Model.RequestId</code>
    </p>
}
